.proForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 5px;
    height: 600px;
}

.f {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 70%;
}

.proForm sele {
    width: 100%;
    animation-name: bottomTOup;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes bottomTOup {
    from {
        transform: translateY(800px);
    }

    to {
        transform: translateY(0);
    }
}

.Admin {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AdPheading {
    position: relative;
    /* bottom: 80px; */
    color: rgb(0, 123, 255);
}