.FormAdmin {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("C:\Users\Visha\Desktop\Web-Technology\React\Main-Shoping-App\src\assets\image\bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: grid;
    grid-template-columns: 100px 300px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    width: 700px;
    height: 200px;
}

form label,
input {
    height: 35px;
    width: 400px;
    display: block;
    margin: auto 0;
    position: relative;
    /* top: 50px; */
    font-size: large;
    font-weight: bold;
}

form button {
    width: 100px;
    background-color: blue;
    color: white;
}
.errorinput{
    border-style:none ;
    box-shadow: 1px 2px 3px red;

}
.error{
    color:red;
}