
.AdminSign{
    height: 100vh;
    width: 100vw;
    background-image: url("C:\Users\Visha\Desktop\Web-Technology\React\Main-Shoping-App\src\assets\image\bg.png");
    background-repeat: no-repeat;
    background-size: cover;
     display: flex;
    justify-content: center;
    align-items: center;
}

.signform {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0px 0px 10px grey;
  height: 500px;
   opacity: 100.85;

}

.signlabel {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
     font-size: large;
    font-weight: bold;
}

.signinput[type="text"] {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

 .signinput[type="text"]:focus {
  border-color: #0078d4;
  outline: none;
}

.signbtn {
  width: 100%;
  padding: 12px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signbtn:hover {
  background-color: #005fa3;
}