.totalbillprice{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 700px;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px gray;
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 10px;
}
.billcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.totalbrand{
    width: 200px;
    /* border: 1px solid black; */
}
.totalname{
    width: 200px;
    /* border: 1px solid black; */
}
.totalprice{
    width: 200px;
    /* border: 1px solid black; */
}
.image{
    width: 50px;
    height: 50px;
}
.payimg{
    width: 100%;
    height: 100%;
}
.bill{
    display: flex;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
.billbtn{
    /* position: relative;
    left: 40%;
    top: 10px;
    width: 50px;
    height: 50px; */
}
.actualbill{
    width: 500px;
    height: 500px;
    padding: 50px;
    box-shadow: 0px 0px 9px;
}
.buyp{
    font-size: large;
    /* font-weight: bold; */
}
#buybtn{
    width: 100px;
}