/* NavbarCustom.css */

.navbar {
  background-color: #f8f9fa !important; /* Light background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100vw;
  margin: 0;
  padding: 0;
  border-radius: 0;

}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #007bff !important;
}

.navbar-nav .nav-link {
  color: #343a40 !important;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff !important;
}

.navbar-nav .nav-link.disabled {
  color: #6c757d !important;
}

.navbar-nav .dropdown-menu {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.navbar-nav .dropdown-item:hover {
  background-color: #f1f1f1;
}

.form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  width: 600px;
  border-radius: 25px;
}
.d-flex{
  height: 100px;
  border-radius: 10px;
}
.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

.navbar-collapse a {
  margin-left: 15px;
  font-weight: 500;
  color: #17a2b8;
  text-decoration: none;
}

.navbar-collapse a:hover {
  text-decoration: underline;
}

.addp {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap blue */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  color: black;
}

.addp:hover {
  background-color: #0056b3;
}
.bg-body-tertiary{
  margin-bottom: 30px;
  margin: 20px 20px;
  padding: 20px;
}
#searchform{
  width: 500px;
  height: 45%;
}