.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20px;
}
.pro{
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0px 0px 10px grey;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.img{
    /* border: 1px solid black; */
    width: 100px;
    height: 200px;
}
.pro:hover {
  transform: translateY(-10px);
  transform: scale(1.0252);
  background: linear-gradient(to right, #add8e6, #ffffff);

}
.btn{
    display: flex;
    justify-content: center;
    width: 300px;
}
