.UpdatFrom{
    width: 100vw;
    height: 100vh;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.upHeading{
    position: relative;
    bottom: 40px;
    color: rgb(0, 123, 255);
}
.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20px;
}
.proForm{
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0px 0px 10px grey;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    animation-name: bottomTOup;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes bottomTOup{
    from{
transform: translateY(800px);
    }
    to{
transform: translateY(0);
    }
}
.img{
    /* border: 1px solid black; */
    width: 100px;
    height: 200px;
}
.pro:hover {
  transform: translateY(-10px);
  transform: scale(1.0252);
  background: linear-gradient(to right, #add8e6, #ffffff);

}
.btn{
    display: flex;
    justify-content: center;
    width: 300px;
}
.form-select{
    width: 220px;
}